<div>
  <mat-table [dataSource]="programs">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Program Name</mat-header-cell>
      <mat-cell *matCellDef="let program">{{program.program_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef>Program Description</mat-header-cell>
      <mat-cell *matCellDef="let program">{{program.program_desc}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Amount Requested</mat-header-cell>
      <mat-cell *matCellDef="let program">{{program.amount_requested}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="donated">
      <mat-header-cell *matHeaderCellDef>Amount Donated</mat-header-cell>
      <mat-cell *matCellDef="let program">{{program.amount_donated}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let program"><button mat-rasied-button>Edit</button></mat-cell>
    </ng-container>
    <ng-container matColumnDef="archive">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let program"><button mat-rasied-button>Archive</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>