<div class="formoverlay">
    <form (sumbit)="onSubmit(programForm)" #programform="ngForm" id="programForm">
      <mat-card>
        <mat-card-title>EDIT YOUR PROGRAM</mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
              <div fxFlex="45%" class="textCenter">
                <mat-form-field>
                  <input matInput type="text" placeholder="Program Name" required>
                  <mat-error *ngIf="">Please enter the program name</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="45%" class="textCenter">
                <mat-form-field>
                  <textarea matInput 
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="10"
                    cdkAutosizeMaxRows="30"
                    placeholder="Please enter a short Description of the program you want funded" 
                    required>
                  </textarea>
                  <mat-error *ngIf="">Please enter a short Description</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="45%" class="textCenter">
                <mat-form-field>
                  <input matInput type="number" min="500" max="2500" placeholder="Enter Amount Requested" required>
                  <mat-error *ngIf="">Please Enter an Amount betwwen $500 and $2500</mat-error>
                </mat-form-field>
              </div>
            
            </div>
            
        </mat-card-content>
      </mat-card>
    </form>
  </div>